body{
    background-color: bisque;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.cronometro, .temporizador {
    font-size: 20px;
    text-align: center; /* Centraliza o texto dentro do cronômetro */
}

#watch{
    font-size: 40px;
    color: #000;
    margin-bottom: 300px;
}

button{
    display: inline-block; /* Permite que os botões fiquem um ao lado do outro */
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #f19469;
}

button:hover {
    background-color: #c46336;
}

.btn-times{
    margin-top: 20px;
}

.btn-times button{
    background-color: #f19469;
}

#watch-temporizador{
    font-size: 40px;
    color: #000;
    margin-bottom: 300px;
}